<header>
    <nav>
         <a href="/main">Home</a>
        <a href="/auth/logout">Log Out</a>
        <a href="/index/createPost">Create Post</a>
    </nav>
</header>

<div class="listCoins">
    <script src="/javascripts/navDates.js"></script>
</div>

<div class="pageTitle" style="background-image:url('http://infocoin.net/wp-content/uploads/2018/05/KryptoMoney.com-BIK-Credit-Polish-Bank-Poland-Blockchain.jpeg'); background-repeat:repeat-x;height:193px;">

    <div class="row containerCoin">
        <div class="content" >
            <h1><span style="color:white">{{coin.name}} | {{coin.symbol}}</span></h1>

            <input id="coin_symbol" value={{coin.symbol}} hidden>

        </div>
        <div class="row blockDates">
            <div class="coinStats">
                <div class="priceStats">
                    <div>
                        <span>1H</span>
                        <span>{{coin.percent_change_1h}}</span>
                    </div>

                    <div>
                        <span>24H</span>
                        <span>{{coin.percent_change_24h}}</span>
                    </div>

                    <div>
                        <span>7D</span>
                        <span>{{coin.percent_change_7d}}</span>
                    </div>

                </div>
            </div>

            <div class="coinDates">
                <div class="coinPrice">
                    <div class="price">
                        <span>
                            ${{coin.price_usd}} 
                        </span><br>

                        <span class="coinMarketCap">
           Market pairs:{{coin.market_cap_usd}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    

</div>


<div class="row graphTwitter">
    <div class="graph">
        <script src="/javascripts/graph.js"></script>
    </div>
    
    <div class="twitter  ">
        <a class="twitter-timeline" data-width="800" data-height="620" data-theme="light" href="https://twitter.com/TwitterDev?ref_src=twsrc%5Etfw">Tweets
            by TwitterDev</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>


    
    


{{!-- <script>
    window.coinName={{{coinName}}};
</script> --}}




