<h1> Hi {{this.username}}!</h1>
<img src="{{this.image}}">



<div>
    {{#each this.fav_coins}}
    <div id= "{{this._id}}">
        <p>{{this.symbol}}</p>
        <p>{{this.price_usd}}</p>
        <p>{{percent_change_24h}}</p>
        <button  class="btn-delete" value="{{this._id}}">Delete Fav</button>
    </div>
    {{/each}}
</div>

<div>
    <h2>Cuenta</h2>
    <form action="/change-data" method="POST" enctype="multipart/form-data">
        <label for="content">Username</label>
        <input type="text" name="username">


        <label for="password">Password</label>
        <input type="password" name="password">

        <label for="emial">Email</label>
        <input type="email" name="email">

        <input type="submit" value="Change">
        <label for="photo">Chane Photo</label>
        <input class="inputfile" type="file" name="photo">
    </form>
</div>
<script src="/javascripts/profile.js"></script>