<h1>{{this.name}} | {{this.symbol}} </h1>
<p>Price: {{this.price_usd}}$</p>
<p>Market: {{this.market_cap_usd}}</p>
<p>%7d: {{this.percent_change_7d}}</p>
<p>%24h: {{this.percent_change_24h}}</p>
<p>%1h: {{this.percent_change_1h}}</p>
<script src="/javascripts/graph.js"></script>


