<h1>{{this.name}}</h1>
<p>{{this.city}}, {{this.country}}</p>
<p>{{this.description}}</p>
<p>{{this.address}}</p>
<input id="ltd" value={{this.location.[0]}} hidden>
<input id="lng" value={{this.location.[1]}} hidden>
<div id="map" style="width:500px; height:500px"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALOU9vnX6FjwbpYtnouPTqB8bzYs3_0S0"></script> 
<script src="/javascripts/script.js"></script>
