<h1>{{this.name}}</h1>
<p>{{this.city}}, {{this.country}}</p>
<p>{{this.description}}</p>
<p>{{this.address}}</p>
<div id="map"></div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALOU9vnX6FjwbpYtnouPTqB8bzYs3_0S0&callback=initMap"></script> 
<script src="/javascripts/script.js"></script>
